<meta type= "description" value= "wow">

<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
<head>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4430832375423903"
     crossorigin="anonymous"></script>
</head>
<div class="main">
  <div class="main">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="side-navbar active">

  <ul>
      <li><a href="/">
          <span class="icon"><i class="bx bxs-dashboard"></i></span>
          <span class="text"><h2 class="dd">rova</h2></span>
      </a></li>
      <li><a href="/">
          <span class="icon"><ion-icon name="home-outline" role="img" class="md hydrated" arova-label="home outline"></ion-icon></span>
          <span class="text">Home</span>
      </a></li>
      <% if (admin) { %>
      <li><a href="/admin">
          <span class="icon"><ion-icon name="lock-closed-outline" role="img" class="md hydrated" arova-label="lock closed outline"></ion-icon></span>
          <span class="text">Admin</span>
      </a></li>
      <li><a href="/setting">
        <span class="icon"><ion-icon name="settings-outline" role="img" class="md hydrated" arova-label="settings outline"></ion-icon></span>
        <span class="text">Settings</span>
    </a></li>

          <li><a href="/shop-systems">
              <span class="icon"><ion-icon name="construct-outline"></ion-icon></span>
              <span class="text">Shops Systems</span>
            </a></li>
    <% } %>
      <li><a href="/wallet">
          <span class="icon"><ion-icon name="wallet-outline" role="img" class="md hydrated" arova-label="wallet outline"></ion-icon></span>
          <span class="text">Wallet</span>
      </a></li>
      <li><a href="/transfer">
        <span class="icon"><ion-icon name="send-outline" role="img" class="md hydrated" arova-label="send outline"></ion-icon></span>
        <span class="text">Transfer</span>
    </a></li>
    <li><a href="/shop">
      <span class="icon"><ion-icon name="cart-outline" role="img" class="md hydrated" arova-label="cart outline"></ion-icon></span>
      <span class="text">rova Shop</span>
  </a></li>



      <li><a href="/shops">
          <span class="icon"><ion-icon name="cart-outline" role="img" class="md hydrated"
              arova-label="cart outline"></ion-icon></span>
          <span class="text">Shops</span>
        </a></li>



      <li><a href="/email-add">
      <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
      <span class="text">EMAIL</span>
  </a></li>
      <li><a href="/invite">
        <span class="icon"><ion-icon name="add-outline" role="img" class="md hydrated" arova-label="settings outline"></ion-icon></span>
        <span class="text">invite</span>
    </a></li>
  <li><a href="/premium ">
    <span class="icon"><svg version="1.0" xmlns="http://www.w3.org/2000/svg"
      width="80px" height="80px" viewBox="-85 0 512 512"
      preserveAspectRatio="xMidYMid meet">
     
     <g transform="translate(0.000000,230.000000) scale(0.100000,-0.100000)"
     fill="white" stroke="none" class="habd" style="font-family'Brush Script MT',cursive;">
     <path d="M980 2190 c-427 -50 -757 -343 -877 -780 -14 -51 -17 -102 -17 -240
     0 -161 3 -182 28 -265 54 -181 138 -325 260 -448 297 -300 752 -385 1142 -212
     149 66 327 217 417 353 132 200 185 391 174 630 -24 507 -398 904 -909 962
     -92 11 -123 11 -218 0z m307 -136 c262 -59 487 -234 608 -474 149 -294 121
     -658 -70 -925 -173 -241 -433 -375 -731 -375 -193 0 -351 49 -512 159 -65 44
     -183 164 -229 231 -208 307 -205 714 8 1020 113 163 264 275 456 340 151 50
     317 59 470 24z"/>
     <path d="M400 1460 c0 -11 6 -20 13 -20 32 0 52 -53 130 -337 l82 -298 32 -3
     32 -3 46 148 c141 450 146 462 168 478 30 21 83 19 107 -5 19 -19 20 -33 20
     -280 0 -247 -1 -261 -20 -280 -11 -11 -29 -20 -40 -20 -13 0 -20 -7 -20 -20 0
     -20 5 -20 147 -18 131 3 148 5 151 21 3 12 -3 17 -20 17 -13 0 -33 6 -44 14
     -18 14 -19 29 -19 286 0 257 1 272 19 286 11 8 31 14 44 14 17 0 23 5 20 18
     -3 16 -24 17 -246 19 -236 3 -242 2 -242 -17 0 -11 6 -20 14 -20 8 0 21 -7 30
     -15 13 -14 13 -21 0 -68 -32 -107 -106 -329 -109 -325 -7 7 -95 355 -95 375 0
     22 18 33 51 33 12 0 19 7 19 20 0 19 -7 20 -135 20 -128 0 -135 -1 -135 -20z"/>
     <path d="M1280 1461 c0 -16 6 -21 24 -21 54 0 56 -8 56 -299 0 -247 -1 -269
     -18 -284 -10 -10 -29 -17 -41 -17 -16 0 -22 -5 -19 -17 3 -16 20 -18 151 -21
     142 -2 147 -2 147 18 0 13 -7 20 -20 20 -12 0 -32 11 -45 25 -24 23 -25 31
     -25 135 l0 110 68 0 c112 1 169 31 203 105 42 91 9 192 -76 235 -46 23 -63 25
     -227 28 -176 4 -178 4 -178 -17z m312 -45 c46 -34 62 -143 30 -206 -13 -27
     -27 -38 -60 -49 -72 -22 -74 -18 -70 118 2 81 7 123 17 134 16 20 59 22 83 3z"/>
     </g>
     
                 </svg> </span>
    <span class="text">pay</span>
</a></li>
        <li><a href="/top">
          <span class="icon"><ion-icon name="bar-chart-outline"></ion-icon></span>
          <span class="text">Top 100</span>
      </a></li>

      <li><a href="#">
          <span class="icon"><ion-icon name="log-in-outline" role="img" class="md hydrated" arova-label="log in outline"></ion-icon></span>
          <span class="text">Log-Out</span>
      </a></li>
      <li class="support"><a href="https://discord.gg/rova-st">
          <span class="icon"><ion-icon name="help-outline" role="img" class="md hydrated" arova-label="help outline"></ion-icon></span>
          <span class="text">Help</span>
        </a></li>
        
  </ul>
</div>
<button class="up" id="up">UP</button>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule="" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
<style>
    /* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
  
.intro,
.intro a{
  color:#fff;
  font-family:
}
/* Demo Purpose Only*/
.demo {
  font-family: 'Raleway', sans-serif;
	color:#fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}
.demo a{
  font-family: 'Raleway', sans-serif;
color: #000;		
}
li:hover .habd {
  fill: black;
}

.card {
background: #000000;
border-radius: 25px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
max-width: 300px;
text-align: center;
font-family: aroval;
display: inline-block;
margin: 12px;
padding: 25px;
}

.price {
color: grey;
font-size: 22px;
}
.product-name {
color: white;
}
.card img {
border-radius: 15px;
}

.block {
display: block;
}
.button-85 {
padding: 0.6em 5em;
border: none;
outline: none;
color: rgb(255, 255, 255);
background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
);
cursor: pointer;
position: relative;
z-index: 0;
border-radius: 10px;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.button-85:before {
content: "";
background: #002bff;
position: absolute;
top: -2px;
left: -2px;
background-size: 400%;
z-index: -1;
filter: blur(5px);
-webkit-filter: blur(5px);
width: calc(100% + 4px);
height: calc(100% + 4px);
animation: glowing-button-85 20s linear infinite;
transition: opacity 0.3s ease-in-out;
border-radius: 10px;
}

@keyframes glowing-button-85 {
0% {
  background-position: 0 0;
}
50% {
  background-position: 400% 0;
}
100% {
  background-position: 0 0;
}
}

.button-85:after {
z-index: -1;
content: "";
position: absolute;
width: 100%;
height: 100%;
background: #222;
left: 0;
top: 0;
border-radius: 10px;
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
list-style: none;
text-decoration: none;
}

.main {
width: 100%;
background-color: #fff;
}

.side-navbar {
position: fixed;
height: 100vh;
width: 260px;
background: #000000;
overflow: hidden;
transition: 0.5s ease;
}

.side-navbar ul {
top: 0;
left: 0;
width: 100%;
}

.side-navbar ul li {
width: 100%;
border-top-left-radius: 50px;
border-bottom-left-radius: 50px;
transition: all 0.5s;
}

.side-navbar ul li:hover {
background: white;
color: black;

}
.side-navbar ul li span{
transition: all 0.5s;

}
.one:hover a span {
color: #000000;
}
.side-navbar ul li:hover span{
color: #000000;
}
.side-navbar ul li:first-child {
margin-bottom: 1rem;
}

.side-navbar ul li a {
display: block;
width: 100%;
display: flex;
color: rgb(255, 255, 255);
}

.side-navbar ul li a .icon {
min-width: 60px;
display: block;
font-size: 25px;
line-height: 60px;
height: 60px;
text-align: center;
transform: translateY(15px);
}

.side-navbar ul li a .text {
display: block;
padding: 0 10px;
line-height: 60px;
height: 60px;
white-space: nowrap;
}

.content {
position: absolute;
width: calc(100% - 260px);
left: 260px;
min-height: 100vh;
transition: 0.5s ease;
}

.top-navbar {
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
padding: 7px 20px;
box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

.profile img {
width: 44px;
height: 44px;
object-fit: contain;
object-position: center;
border-radius: 50%;
cursor: pointer;
}

#menu-icon {
font-size: 34px;
cursor: pointer;
}

.content.active {
width: calc(100% - 60px);
left: 60px;
      background: #131313;
}

.side-navbar.active {
/* width: 60px; */
}
body {
        background: #131313;
}
@media (max-width: 768px) {
.content {
  width: 100%;
  left: 0;
        background: #131313;
}

.side-navbar {
  width: 60px;
  left: 0px;
}

.content.active {
  width: calc(100% - 60px);
  left: 60px;
      background: #131313;
  
}

.side-navbar.active {
  left: 0;
}
}


.up {
display: none;
/* Hidden by default */
position: fixed;
/* Fixed/sticky position */
bottom: 20px;
/* Place the button at the bottom of the page */
right: 30px;
/* Place the button 30px from the right */
z-index: 99;
/* Make sure it does not overlap */
border: none;
/* Remove borders */
outline: none;
/* Remove outline */
background-color: black;
/* Set a background color */
color: white;
/* Text color */
cursor: pointer;
/* Add a mouse pointer on hover */
padding: 15px;
/* Some padding */
border-radius: 10px;
/* Rounded corners */
font-size: 18px;
/* Increase font size */
border-radius: 50px;
}

.up:hover {
background-color: rgb(9, 175, 252);
/* Add a dark-grey background on hover */
}


.searchbar {
font-size: 14px;
font-family: aroval, sans-serif;
color: #202124;
display: flex;
z-index: 3;
height: 44px;
background: white;
border: 1px solid #dfe1e5;
box-shadow: none;
border-radius: 24px;
margin: 0 auto;
width: auto;
max-width: 224px;
}

.searchbar:hover {
box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
border-color: rgba(223, 225, 229, 0);
}

.searchbar-wrapper {
flex: 1;
display: flex;
padding: 5px 8px 0 14px;
}

.searchbar-left {
font-size: 14px;
font-family: aroval, sans-serif;
color: #202124;
display: flex;
align-items: center;
padding-right: 13px;
margin-top: -5px;
}

.search-icon-wrapper {
margin: auto;
}

.search-icon {
margin-top: 3px;
color: #9aa0a6;
height: 20px;
line-height: 20px;
width: 20px;
}

.searchbar-icon {
display: inline-block;
fill: currentColor;
height: 24px;
line-height: 24px;
position: relative;
width: 24px;
}

.searchbar-center {
display: flex;
flex: 1;
flex-wrap: wrap;
}

.searchbar-input-spacer {
color: transparent;
flex: 100%;
white-space: pre;
height: 34px;
font-size: 16px;
}

.searchbar-input {
background-color: transparent;
border: none;
margin: 0;
padding: 0;
color: rgba(0, 0, 0, .87);
word-wrap: break-word;
outline: none;
display: flex;
flex: 100%;
margin-top: -37px;
height: 34px;
font-size: 16px;
max-width: 100%;
width: 100%;
}

.searchbar-right {
display: flex;
flex: 0 0 auto;
margin-top: -5px;
align-items: stretch;
flex-direction: row
}

.searchbar-clear-icon {
margin-right: 12px
}

.voice-search {
flex: 1 0 auto;
display: flex;
cursor: pointer;
align-items: center;
border: 0;
background: transparent;
outline: none;
padding: 0 8px;
width: 2.8em;
}

.hide {
display: none;
}

/*dfg*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');

.text-center {
color: #fff;
text-transform: uppercase;
font-size: 23px;
margin: -50px 0 80px 0;
display: block;
text-align: center;
}

.box {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
background-color: rgba(0, 0, 0, 0.89);
border-radius: 3px;
padding: 70px 100px;
border-radius: 25px;
}

.input-container {
position: relative;
margin-bottom: 25px;
}

.input-container label {
position: absolute;
top: 0px;
left: 0px;
font-size: 16px;
color: #fff;
pointer-events: none;
transition: all 0.5s ease-in-out;
}
.input-container input {
border: 0;
border-bottom: 1px solid #555;
background: transparent;
width: 100%;
padding: 8px 0 5px 0;
font-size: 16px;
color: #fff;
}

.input-container input:focus {
border: none;
outline: none;
border-bottom: 1px solid #e74c3c;
}

.btn {
color: #fff;
background-color: #e74c3c;
outline: none;
border: 0;
color: #fff;
padding: 10px 20px;
text-transform: uppercase;
margin-top: 50px;
border-radius: 2px;
cursor: pointer;
position: relative;
}

.input-container input:focus~label,
.input-container input:valid~label {
top: -12px;
font-size: 12px;

}

/* balance */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

body {
-webkit-touch-callout: none;
/* iOS Safari */
-webkit-user-select: none;
/* Safari */
-khtml-user-select: none;
/* Konqueror HTML */
-moz-user-select: none;
/* Firefox */
-ms-user-select: none;
/* Internet Explorer/Edge */
user-select: none;
/* Non-prefixed version, currently
                                supported by Chrome and Opera */
}


.iphone {
margin: 10px;
margin-top: 0 !important;
width: 375px;
overflow: hidden;
position: relative;
transform: scale(0.9);
transform-origin: top center;
}

.header {
height: 228px;
background-color: #44B0A0;
border-bottom-right-radius: 40px;
border-bottom-left-radius: 40px;
display: flex;
justify-content: space-around;
align-items: center;
position: relative;
z-index: 1;
overflow: hidden;
}

.header::before {
content: "";
height: 200px;
width: 200px;
background-color: #53b5a8;
border-radius: 50%;
position: absolute;
top: -60px;
left: -100px;
z-index: 2;
}

.header::after {
content: "";
height: 100px;
width: 100px;
background-color: #53b5a8;
border-radius: 50%;
position: absolute;
right: -20px;
bottom: -30px;
z-index: 2;

}

.header-summary {
display: flex;
flex-direction: column;
font-family: 'Montserrat', sans-serif;
color: white;
z-index: 3;
}

.summary-text {
font-size: 1.2rem;
font-weight: 300;
margin-bottom: 1.5rem;
}

.summary-balance {
font-size: 2rem;
letter-spacing: 1.5px;
margin-bottom: 0.8rem;

}

.user-profile {
margin-top: 4rem;
height: 70px;
width: 70px;
align-self: flex-start;
}

.user-photo {
height: 100%;
width: 100%;
border-radius: 50%;
border: 1px solid white;
box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.2);
}
/* Simple SVG Christmas Lights Animation */

.fond{position:fixed;padding-top:85px;top:0;left:0; right:0;bottom:0;
  background-color:#84cedb;}

.contener_home_one
{
	width: 150px;
	height: 76px;
	position:relative;
	z-index: 0;
}
.home_base
{
	position:absolute;
	bottom: 0px;

	background-color: #d75f3d;
	width:125px;
	left:14px;
	height: 40px;
}
.trovangle {
	left: 8px;
	position:absolute;
	width: 0px;
	height: 0px;
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	border-bottom: 36px solid #ffffff;
}
.parallelogram {
	left: 34px;
	position:absolute;
	width: 102px;
	height: 36px;
	-webkit-transform: skew(26deg);
	-moz-transform: skew(26deg);
	-o-transform: skew(26deg);
	background-color: #ffffff;
}
.door
{
	background-color: #742e1a;
	z-index: 1;
	width: 15px; height: 25px;
	position: absolute;
	bottom: 0px; left:65px;
}
.window_one
{
	background-color: #f9eb32;
	z-index: 1;
	width: 15px; height: 15px;
	position: absolute;
	bottom: 10px; left:32px;
	-webkit-animation: light 1.8s linear;
	-webkit-animation-iteration-count: infinite;
}
.window_two
{
	background-color: #f9eb32;
	z-index: 1;
	width: 15px; height: 15px;
	position: absolute;
	bottom: 10px; left:95px;
	-webkit-animation: light 1.4s linear;
	-webkit-animation-iteration-count: infinite;
	-moz-animation: light 1.4s linear;
	-moz-animation-iteration-count: infinite;
	-ms-animation: light 1.4s linear;
	-ms-animation-iteration-count: infinite;
	animation: light 1.4s linear;
	animation-iteration-count: infinite;
}
.christmas_tree
{
	right: -20px;
	position:absolute;
	bottom: 0px;
	width: 0px;
	height: 0px;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 70px solid #639da8;
}
.mountain_one
{
	position:absolute;
	bottom: 0;
	z-index: -1;
	width: 0px;
	height: 0px;
	border-left: 160px solid transparent;
	border-right: 160px solid transparent;
	border-bottom: 220px solid #75b7c3;
}
.sub_mountain_one
{
	position:absolute;
	top: 0px;
	left:-30px;
	z-index: -1;
	width: 0px;
	height: 0px;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 40px solid #ffffff;
}
.sub_mountain_two
{
	position:absolute;
	top: 0px;
	left:-20px;
	z-index: -1;
	width: 0px;
	height: 0px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 40px solid #ffffff;
}
.mountain_two
{
	position:absolute;
	left: -175px;
	bottom: 0;
	z-index: -1;
	width: 0px;
	height: 0px;
	border-left: 160px solid transparent;
	border-right: 160px solid transparent;
	border-bottom: 330px solid #75b7c3;
}
.fireplace
{
	background-color: #d75f3d;
	z-index: 1;
	width: 15px; height: 25px;
	position: absolute;
	top: -10px; right:30px;
}
.fireplace_top
{
	background-color: #ffffff;
	z-index: 1;
	width: 20px; height: 5px;
	position: absolute;
	top: -15px; right:28px;
}
@-webkit-keyframes light {
	0% {background-color: #f9eb32;}
	70% {background-color: #f9ac32;}
	10% {background-color: #f99032;}
}
@-moz-keyframes light {
	0% {background-color: #f9eb32;}
	70% {background-color: #f9ac32;}
	10% {background-color: #f99032;}
}
@-ms-keyframes light {
	0% {background-color: #f9eb32;}
	70% {background-color: #f9ac32;}
	10% {background-color: #f99032;}
}
.lutin_head
{
	background-color: #f7d496;
	width: 30px; height: 30px;
	border-radius: 50%;
	top: 20px; left:-45px;
	position: absolute;
	z-index: 1;
}
.lutin_body
{
	background-color: #637a15;
	width: 20px; height: 20px;
	top: 45px; left:-40px;
	position: absolute;
}
.lutin_jb1
{
	background-color: #637a15;
	width: 7px; height: 15px;
	top: 60px; left:-40px;
	border-bottom: 5px solid #323d0b;
	position: absolute;
}
.lutin_jb2
{
	background-color: #637a15;
	width: 7px; height: 15px;
	top: 60px; left:-27px;
	border-bottom: 5px solid #323d0b;
	position: absolute;
}
.lutin_arm1
{
	background-color: #637a15;
	width: 23px; height:7px;
	top: 47px; left:-57px;
	border-left: 5px solid #f7d496;
	position: absolute;
}
.lutin_arm2
{
	background-color: #637a15;
	width: 23px; height:7px;
	top: 47px; left:-27px;
	border-right: 5px solid #f7d496;
	position: absolute;
}
.lutin_top
{
	top: -5px; left:-48px;
	width: 0px; height: 0px;
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	border-bottom: 36px solid #637a15;
	position: absolute; z-index: 2;
}
.lutin_pom
{
	background-color: #ffffff;
	width: 10px; height: 10px;
	border-radius: 50%;
	top: -10px; left:-35px;
	position: absolute;
	z-index: 3;
}
.lutz
{
	position: relative;
	-webkit-animation: lutz 0.4s linear;
	-webkit-animation-iteration-count: infinite;
	-moz-animation: lutz 0.4s linear;
	-moz-animation-iteration-count: infinite;
	-ms-animation: lutz 0.4s linear;
	-ms-animation-iteration-count: infinite;
	animation: lutz 0.4s linear;
	animation-iteration-count: infinite;
}
@-webkit-keyframes lutz {
	0% {bottom:0px;}
	70% {bottom:10px;}
	10% {bottom:0px;}
}
@-moz-keyframes lutz {
	0% {bottom:0px;}
	70% {bottom:10px;}
	10% {bottom:0px;}
}
@-ms-keyframes lutz {
	0% {bottom:0px;}
	70% {bottom:10px;}
	10% {bottom:0px;}
}
@keyframes lutz {
	0% {bottom:0px;}
	70% {bottom:10px;}
	10% {bottom:0px;}
}
  
#Christmas_Lights {
    height: 50%;
    margin: auto;
    position: absolute;
    width: 100%;
    z-index: 1;
    user-select: none;
    cursor: default;
    pointer-events: none;
}

.light_cord {
  fill: none;
  stroke: #174700;
}

.light_fixture {
  fill: #134413;
}

.red_bulb {
  fill: #CA2128;
  stroke: #6D6D6D;
  stroke-miterlimit: 10;
}

.green_bulb {
  fill: #2D754A;
  stroke: #6D6D6D;
  stroke-miterlimit: 10;
}

.blue_bulb {
  fill: #2C3EA8;
  stroke: #6D6D6D;
  stroke-miterlimit: 10;
}

.white_bulb {
  fill: #F5EED7;
  stroke: #6D6D6D;
  stroke-miterlimit: 10;
}

.gold_bulb {
  fill: #ffcc5e;
  stroke: #6D6D6D;
  stroke-miterlimit: 10;
}


/* Simply changing the opacity of the SVG fill to create the glow effect for the bulbs */

.bulb {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-name: glow;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-direction: alternate;
  animation-name: glow;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@-webkit-keyframes glow {
  0% {
    fill-opacity: 0.25;
  }
  100% {
    fill-opacity: 1
  }
}

@keyframes glow {
  0% {
    fill-opacity: 0.25;
  }
  100% {
    fill-opacity: 1.0
  }
}


/* Made a set of ten animation delays to create a more random effect of lights blinking.  Simplest way without jumping through SVG hoops. */

.blink-1 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.blink-2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.blink-3 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.blink-4 {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

.blink-5 {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.blink-6 {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

.blink-7 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.blink-8 {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}

.blink-9 {
  -webkit-animation-delay: 0.95s;
  animation-delay: 0.95s;
}

.blink-10 {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
</style>

<script>
window.onload = function () {
let sidenavbar = document.querySelector('.side-navbar');
let s = document.querySelector('#menu-icon');
let content = document.querySelector('.content');

s.onclick = function ()  {
  sidenavbar.classList.toggle('active');
  content.classList.toggle('active');
}

/* up_button */
const mybutton = document.querySelector(".up")
mybutton.onclick = function () {
  window.scrollTo({
      top: 0,
      left: 0,
      behavior: 'smooth'
  });
}
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
mybutton.style.display = "block";
} else {
mybutton.style.display = "none";
}
}
}
</script>